@model IEnumerable<ProjetoControleVendas.Models.Vendas>

@{
    ViewData["Title"] = "Index";
}


<h1>Bem vindo a página de Vendas!</h1>
<h4>Vendas</h4>

<p>
    <a asp-action="Create">Criar nova venda</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuncionarioVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VendasID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.VendasID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.VendasID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
