@model IEnumerable<ProjetoControleVendas.Models.Funcionarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Funcionário</h1>

<p>Bem-vindo a página do Funcionário!</p>
<br />

<div class="d-grid gap-2 col-6 mx-auto">
    <button onclick="redirecionar('produto')" class="btn btn-primary" type="button">Produtos</button>
    <button onclick="redirecionar('venda')" class="btn btn-primary" type="button">Vendas</button>
</div>


<br />
<p>
    <a asp-action="Create">Cadastrar Novo Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
                <td type="password">
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionariosID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FuncionariosID">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FuncionariosID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>



<script>
    function redirecionar(id) {
        if (id === "produto") {
            window.location.href = "Produtos";
        } else if (id === "venda") {
            window.location.href = "Vendas";
        }
    }
</script>